name: build
on:
  push:
  pull_request:
permissions: {}
jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - run: cargo build
      - run: cargo test
      - run: cargo fmt --check
    timeout-minutes: 30
